<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Form</title>
</head>
<body>
    <form method="POST">
        <label>Application Form</label><br /><br />
        <label for="username">Username:</label><br />
        <input type="text" id="username" /><br />
        <label for="password">Password:</label><br />
        <input type="password" id="password" /><br /><br />
        <input type="submit" value="Submit" />
      </form>
  
      <script>
        const form = document.querySelector("form");
        form.addEventListener("submit", function (e) {
          e.preventDefault();
          window.location.href = "application_form.html";
        });
      </script>
    
</body>
</html>